/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
    #Site Styles
    #Page Styles */

/* #Site Styles
================================================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.1em;
}

body {
    background: #ecf0f1 image-url('pattern.png') repeat;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

a {
    color: #2c3e50;
    text-decoration: none;
    &:hover {
        color: #e74c3c;
    }
}

::-moz-selection {
    background: lighten(#e74c3c, 16%);
    text-shadow: none;
}
::selection {
    background: lighten(#e74c3c, 16%);
    text-shadow: none;
}

/* #Page Styles
================================================== */
.head {
    text-align: center;
}
    .head__title {
        text-transform: uppercase;
    }
    .head__cover {
        background: image-url('cover.jpg') no-repeat bottom center;
        position: relative;
        height: 250px;
        @include single-box-shadow(#000, 0, -20px, 150px, 0, inset);
    }
        .head__navigation {
            background: rgba(#FFF, .7);
            font-size: .75em;
            padding: 1em 0;
            position: absolute;
            right: 0; bottom: 0; left: 0;
            z-index: 1337;
            @include single-transition();

            &:hover {
                background: rgba(#FFF, .8);
            }

            > a {
                margin-right: 1em;
                padding: .8em;
                &:last-child {
                    margin: 0;
                }
                &:hover, &.active {
                    border-bottom: 2px solid #e74c3c;
                }
                    &.active {
                        color: #e74c3c;
                    }
            }
        }
        .head__navigation--fixed {
            background: rgba(#000, .7);
            top: 0; bottom: auto;
            position: fixed;
            a { 
                color: #ecf0f1;
                &:hover {
                    color: #e74c3c;
                }
            }
            &:hover {
                background: rgba(#000, .8);
            }
        }

.content {
    line-height: 1.6em;
    padding: 2em 0;
}
    .content--date {
        font-weight: 200;
        text-transform: uppercase;
    }

    .page, .post {
        margin-bottom: 30px;
        a { text-decoration: underline; }
    }
        .more__title, .more__time {
            margin: .5em 0;
        }
            .post__next {
                float: right !important;
                text-align: right;
            }

    .posts {
        padding: 0;
    }
        .post-item {
            margin: 1.5em 0;
        }
    .post__title, .post__date {
        line-height: 40px;
        margin: 0;
    }
        .post__date {
            text-align: right;
        }
